@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
label{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.login-container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 95%;
}
.login-container h3 {
    text-align: center;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    color: #333;
}

.btn-primary:hover {
    background-color: #4e0fba;
}
a {
    text-decoration: none;
    color: #6a11cb;
    transition: 0.5s;
}
a:hover {
    text-decoration: underline;
}
.input-group-text {
    background: transparent;
    border: none;
}
.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}
.success {
    color: green;
    font-size: 1rem;
    margin-top: 10px;
}

