body {
    background-image: url(/static/image/filler.png),linear-gradient(to right, #253b96, #5c55b1);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.register-container {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 95%;
}
.register-container h3 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}
.btn-primary {
    background-color: #212529;
    border: none;
}
.btn-primary:hover {
    background-color: #4e0fba;
}
a {
    text-decoration: none;
    color: #6a11cb;
}
a:hover {
    text-decoration: underline;
}
.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}
.input-group .form-control {
    border-right: 0;
}
.input-group .input-group-text {
    background: none;
    border-left: 0;
}