<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/static/image/subtitle.ico">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <a href="/"><img src="/static/image/subtitle.ico" style="max-width: 30px;" alt="SubTranscribe Logo"></a>
            <a class="navbar-brand ms-1" href="/">SubTranscribe</a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active ms-2" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-2" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-danger ms-2" href="{{ url_for('logout') }}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="alert alert-info" id="flashMessage">
              {{ messages[0] }}
          </div>
      {% endif %}
      {% endwith %}
      <div class="container">
        <div class="mt-4 text-center d-flex align-items-center ">
            <h4 class="font-weight-bold">Welcome, <span class="text-success">{{ username }}</span></h4>
        </div>
        <!-- Cards for total files and total size and chart -->
        <div class="row mb-4">
            <div class="col-md-6 mt-1 ">
                <div class="card bg-dark">
                    <div class="card-body text-center">
                        <h5 class="card-title text-white">Total Files</h5>
                        <p class="card-text text-success" id="total-files">0</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-1">
                <div class="card bg-dark">
                    <div class="card-body text-center">
                        <h5 class="card-title text-white">Total Size</h5>
                        <p class="card-text text-success" id="total-size">0 MB</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-dark mt-1">
            <div class="card-body">
                <h5 class="card-title text-white text-center">User Activity Chart (Last 12 Months)</h5>
                <canvas id="userActivityChart" width="500" height="100"></canvas>
            </div>
        </div>

        <!-- Display files table -->
        {% if files|length == 0 %}
            <div class="no-files-alert">
                <p>No files uploaded yet. <a href="/">Get subtitle now for your video</a></p>
            </div>
        {% else %}
            <div class="table-responsive mt-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>File Size</th>
                            <th>Uploaded On</th>
                            <th>Download Subtitle</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="file-list">
                        {% for file in files %}
                        <tr>
                            <td>
                                {% if file.file_name and (file.file_name.startswith('http://') or file.file_name.startswith('https://')) %}
                                    <a href="{{ file.file_name }}" target="_blank">{{ file.file_name }}</a>
                                {% elif file.file_name %}
                                    {{ file.file_name }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                            <td>
                                {% if file.file_size %}
                                    {{ (file.file_size / (1024 * 1024))|round(2) }} MB
                                {% else %}
                                    Unknown Size
                                {% endif %}
                            </td>
                            <td>{{ file.upload_time }}</td>
                            <td>
                                <a href="{{ url_for('redirect_to_transcript', file_id=file._id) }}" class="btn btn-success">
                                    Download
                                </a>
                            </td>
                            <td>
                                <!-- Delete button -->
                                <form method="POST" action="{{ url_for('delete_file') }}" class="d-flex align-items-center justify-content-center">
                                    <button type="button" class="bin-button"
                                    data-file-id="{{ file._id }}"
                                    onclick="deleteFile(this)">
                                        <svg
                                          class="bin-top"
                                          viewBox="0 0 39 7"
                                          fill="none"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <line y1="5" x2="39" y2="5" stroke="white" stroke-width="4"></line>
                                          <line
                                            x1="12"
                                            y1="1.5"
                                            x2="26.0357"
                                            y2="1.5"
                                            stroke="white"
                                            stroke-width="4"
                                          ></line>
                                        </svg>
                                        <svg
                                          class="bin-bottom"
                                          viewBox="0 0 33 39"
                                          fill="none"
                                          xmlns="http://www.w3.org/2000/svg"
                                        >
                                          <mask id="path-1-inside-1_8_19" fill="white">
                                            <path
                                              d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"
                                            ></path>
                                          </mask>
                                          <path
                                            d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
                                            fill="white"
                                            mask="url(#path-1-inside-1_8_19)"
                                          ></path>
                                          <path d="M12 6L12 29" stroke="white" stroke-width="6"></path>
                                          <path d="M21 6V29" stroke="white" stroke-width="6"></path>
                                        </svg>
                                    </button>                                    
                                </form>
                                <div id="notification" style="display: none;" class="alert" role="alert"></div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    <footer class="text-center mt-5">
        <div class="container">
          <p>SubTranscribe &copy; 2024 All Rights Reserved. Designed by <br><span> A D E L M A H M O U D </span> </p>
          <div class="toogle">
            <a class="email" href="mailto: adelam578568@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            <a class="insta" href="http://instagram.com/adel_mahmoud10/"><i class="fa-brands fa-instagram"></i></a>
            <a class="x" href="https://twitter.com/Adel_MAhmoud100?s=09"><i class="fa-brands fa-x-twitter"></i></a>
            <a class="face" href="https://www.facebook.com/profile.php?id=100013266852973"><i class="fa-brands fa-facebook"></i></a>
          </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    // JavaScript to calculate total files and size
    const fileList = document.querySelectorAll('#file-list tr');
    const totalFilesElement = document.getElementById('total-files');
    const totalSizeElement = document.getElementById('total-size');
    let totalSize = 0;
    let totalFiles = 0;

    fileList.forEach(row => {
        const fileSizeCell = row.cells[1]; // The second cell contains the file size
        const fileSizeText = fileSizeCell.textContent.trim();

        // Parse the file size, remove 'MB' and trim the result
        const fileSize = parseFloat(fileSizeText.replace('MB', '').trim());

        // Only add to total if the file size is a valid number and greater than 0
        if (!isNaN(fileSize) && fileSize > 0) {
            totalSize += fileSize;
            totalFiles += 1;
        }
    });

    totalFilesElement.textContent = totalFiles;
    totalSizeElement.textContent = totalSize.toFixed(2) + ' MB';


        const months = {{ months|tojson|default('[]') }};
        const uploads = {{ uploads|tojson|default('[]') }};

        
        if (months.length > 0 && uploads.length > 0) {
            const ctx = document.getElementById('userActivityChart').getContext('2d');
            const userActivityChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: months,
                    datasets: [{
                        label: 'Uploads Per Month',
                        data: uploads,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            position: 'top'
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Month'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Number of Files'
                            }
                        }
                    }
                }
            });
        }
        
        document.addEventListener("DOMContentLoaded", function() {
        const flashMessage = document.getElementById('flashMessage');
        if (flashMessage) {
            setTimeout(() => {
                flashMessage.style.display = 'none';
            }, 3000);
        }

        const deleteMessage = document.getElementById('deleteMessage');
        if (deleteMessage) {
            setTimeout(() => {
                deleteMessage.style.display = 'none';
            }, 3000);
        }
    });
    function deleteFile(button) {
        const fileId = button.getAttribute('data-file-id'); 

        fetch('/delete_file', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ file_id: fileId }),
        })
        .then(response => response.json())
        .then(data => {
            const notification = document.getElementById('notification');
            if (data.success) {
                notification.textContent = data.message;
                notification.className = 'alert alert-success'; 
                notification.style.display = 'block'; 
                setTimeout(() => {
                    notification.style.display = 'none'; 
                    location.reload();
                }, 3000);
            } else {
                notification.textContent = data.message;
                notification.className = 'alert alert-danger'; 
                notification.style.display = 'block';
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 3000);
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
    </script>

</body>
</html>